{% extends 'base.html' %}
{% load user_tags %}
{% block title %}个人信息{% endblock %}
{% block head_expends %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'user.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            {% if user.is_authenticated %}
                <div class="jumbotron">
                    <h1>Hello, <span id="greet-old-nickname">{% get_nickname_or_username user %}</span>!&nbsp;</h1>
                    <span id="avatar-container"><img src="{{ user.profile.avatar.url }}" alt="个人头像" width="120" height="120"></span>
                    <form action="{% url 'change_avatar' %}?from={{ request.get_full_path }}" method="post" enctype="multipart/form-data" style="display: none;" id="change-avatar-form">
                    {% csrf_token %}
                    {% for field in change_avatar_form %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <p class="text-danger">{{ field.errors.as_text }}</p>
                    {% endfor %}
                    <span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                    <div class="clearfix"></div>
                    <input type="submit" class="btn btn-primary" value="修改">
                    </form>
                    <h3>昵称：<span id="old-nickname">{{ user.profile.nickname }}</span>&nbsp;
                        <span id="modify-nickname" class="glyphicon glyphicon-pencil"></span>
                        <form id="change-nickname-form" action="{% url 'change_nickname' %}" method="post" class="form-inline" style="display: none">
                             {% csrf_token %}
                             <div class="form-group">
                                 <label class="sr-only" for="exampleInputAmount"></label>
                                 <div class="input-group">
                                     <div class="input-group-addon">新昵称</div>
                                     <input type="text" class="form-control" id="new_nickname_input" placeholder="">
                                 </div>
                            </div>
                            <button type="submit" class="btn btn-primary">submit</button>
                            <span id="error-nickname" class="text-danger"></span>
                        </form>
                    </h3>
                    <h3>邮箱：{{ user.email }}&nbsp;&nbsp;&nbsp;&nbsp;上次登录时间：{{ user.last_login }}</h3>
                </div>
            {% else %}
                <span>未登录，跳转到首页...</span>
                <script type="text/javascript">
                    window.location.href='/';
                </script>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script_extend %}
    <script type="text/javascript">
        $("#avatar-container").click(function () {
            $("#change-avatar-form").show();
            $("#id_avatar").click()
        });
        $("#modify-nickname").click(function () {
            if($("#change-nickname-form").is(":hidden")){
                $("#change-nickname-form").show();
            }else {
                $("#change-nickname-form").hide();
            }
        });
        $("#change-nickname-form").submit(function () {
            if($("#new_nickname_input").val()==''){
                $("#error-nickname").text('新昵称不能为空!');
                return false;
                }
            $.ajax({
                url: "{% url 'change_nickname' %}",
                type: "GET",
                data: {
                    nickname: $("#new_nickname_input").val(),
                },
                cache: false,
                success:function (data) {
                    console.log(data);
                    if(data['status']=='SUCCESS'){
                        $("#old-nickname").text(data['nickname']);
                        $("#greet-old-nickname").text(data['nickname']);
                        $("#change-nickname-form").hide();
                        $("#new_nickname_input").val('');
                        $("#error-nickname").text('');
                    }else {
                        if (data['code'] == 401){
                            $("#error-nickname").text(data['message']);
                        }else{
                            window.location.href='/';
                        }
                    }
                },
                error:function (xhr) {
                    console.log(xhr);
                },
            });
            return false
        });
    </script>
{% endblock %}