#change-avatar-form{
    display: inline-block;
    margin-top: -2em
}
#id_avatar{
    display: none;
}
form.form-inline{
    display: inline-block;
}
#submit_change_avatar{
    margin-top: 160%;
}
ul.homepage-ul li{
    border-bottom: #ccc 1px dashed;
    margin-bottom: 1em;
}
.homepage-ul-control{
    text-align:center;
    display: none;
}